
body {
    position: relative;
    background-attachment: fixed;
}

.jumbotron{
    height: 100vh;
}

/* ----- MOBILE SCREEN FORMATTING ----- */

@media screen and (min-width: 300px) {
    .jumbotron {
        background-color: white;
        height: 50vh;
    }
    .top_margin {
        margin-top: 5vh;
    }

    /* ----- FONT SIZING ----- */

    .console {
    font-size: 18px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    }

    h1 {
        font-size: 200px;
        color: #007bff !important
    }

    h2 { /* second white line in top jumbotron */
        font-size: 50px;
        color: white;
    }

    h3 { /* bleu left section titles */
        font-size: 60px;
        color: #007bff !important /* blue */
    }

    h4{ /* depricated in feature project section */
        font-size: 18px;
        color: white;
    }

    p-1 { /* all other text */
        font-size: 25px;
        color: white;
    }

    p-2 {
        font-size: 25px;
    }
}

/* ----- LARGE SCREEN FORMATTING ----- */

@media screen and (min-width: 1000px) {
    .jumbotron {
        background-color: white;
        height: 50vh;
    }
    .top_margin {
        margin-top: 15vh;
    }

    /* ----- FONT SIZING ----- */

    .console {
    font-size: 14px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    }

    h1 {
        font-size: 100px;
        color: #007bff !important
    }

    h2 {
        font-size: 40px;
        color: white;
    }

    h3 {
        font-size: 18px;
        color: #007bff !important
    }

    h4{
        font-size: 18px;
        color: white;
    }

    h5 {
        font-size: 25px;
        color: #007bff !important
    }

    p-1 { /* all other text */
        font-size: 18px;
        color: black;
    }

    p-2 {
        font-size: 18px;
        color: white;
    }
}

.img-grid{
    /* border: 1px solid #ddd; */
    border-radius: 0px;
    /* padding: 0px;        /* this is the spacing on the grid */
    width: 100%;        /* height is stock 100% */
    margin-bottom: 25px;
} 
/*
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
*/

a:hover, a:active ,a:link, a:visited {
    color: white;
    text-decoration: none;
}

#link{
  background-color: #007bff; 
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* ----- WINDOW SIZING TESTS ----- */

.small_window{
    background-color: green;

}

.medium_window{
    height: 50vh;
    background-color: black;
}

/* ----- FORMATTING ----- */

.m_margin{
    margin-top: 10vh;
}

.c_height{
    height: 50vh;
}
	

.i{
    padding-right: 5px;
    color: #;
}

.padding-top35{
    padding-top: 34vh;
    padding-bottom: 34vh;
}

.topBody{
    padding-top: 250px;
    padding-left: 250px;
    padding-right: 250px;
}

.midBody{
    padding: 250px;
}

.experience_padding{
    padding-bottom: 30px;
}

.border-custom{
    border-color: # !important;
    /* color: #4dd2ff s!important; */
    border-width: 5px !important;
}

.footer {
  /* position: absolute; */ /* THIS LINE MESSES WITH THE FOOTER */
  bottom: 0;
  /* Set the fixed height/width of the footer here */
  width: 100%;
  background-color: black;
}

/* ----- FONTS ----- */

.App{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.text1 {
    color: white;
}

/* ----- FOOTER ----- */

.footer{
    padding: 20px;
    background-color: white;
    color: white
}

/* ----- OTHER ----- */

.max-height{
    height: 100vh;
}

/* MIDDLE */
.middle {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
}